@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satisfy', cursive;
}
body {
  overflow: hidden;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
}
section .box {
  position: absolute;
  width: 450px;
  height: 450px;
}
